@font-face {
  font-family: wedding;
  src: url(../HauteCorniche.ttf);
}


.main-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: width 1s, height 1s;
}
.main-container-solo
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: width 1s, height 1s;
}

.main-container-lite{
  width: 100%;
  display: flex;
  height: 20vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;}

.animate-show,
.animate-hide {
  -webkit-transition:all linear .65s;
  -moz-transition:all linear .65s;
  -ms-transition:all linear .65s;
  -o-transition:all linear .65s;
  transition:all linear .65s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.details
{
  overflow: scroll;
  height: 100vh;
}

.navbar-item
{
  padding: 0 10px;
  margin: 5px;
  color:black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-family: wedding;
}
.navbar-container{
  height: 100%; color: white; display: flex;justify-content: flex-start;padding: 0px 10px;
}

.ny{
  background-color: #79b7ba;
}

.fr{
  background-color: #eccbbd;
}

.mtl{
  background-color: #99a9a6;
}
.navbar-background
{
  background-color: whitesmoke;
}

.event-header
{
  color: white;
  text-align: center;
  font-family: wedding;

}
.event-item
{
  min-height: 100vh;
}
.rsvp{
  border-radius: 5px;
  border-color: darkgoldenrod;
  background-color: white;
  border: 10px solid darkgoldenrod;
  font-size: 50px;
  font-family: fantasy;
}

.mtl-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multi-event-container{
  display: flex;
  flex-direction: row;
}

.main-container-expanded
{
  width: 100% !important;
  height: 100vh!important;
}
.main-container-shrunk
{
  width: 0%!important;
  height: 0vh!important;
}

.splitter
{
  background: linear-gradient(to right, #79b7ba 50%, #eccbbd 50%); display: flex; align-items: center;
}

@media screen and (max-width: 974px) {
  .multi-event-container{
    display: flex;
    flex-direction: column;
  }
  .main-container{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 1s, height 1s;
  }
  .main-container-solo
  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 1s, height 1s;
  }
  .splitter
  {
    background: linear-gradient(to bottom, #79b7ba 50%, #eccbbd 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
}
