@font-face {
  font-family: wedding;
  src: url(../HauteCorniche.ttf);
}
@font-face {
  font-family: paris;
  src: url(../paris.ttf);
}
@font-face {
  font-family: zabata;
  src: url(../zabata.ttf);
}
@font-face {
  font-family: queensides;
  src: url(../AnticDidone-Regular.ttf);
}
@font-face {
  font-family: modernprestige;
  src: url(../modernprestige.otf);
}

@font-face {
  font-family: boulogne;
  src: url(../Boulogne.ttf);
}
@font-face {
  font-family: dafont;
  src: url(../thin.otf);
}


h2 {
  font-family: wedding
}
p
{
  font-family: dafont;
}

.main-container{
  width: 100%;
  height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: width 1s, height 1s;
}
.main-container-solo
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: width 1s, height 1s;
}

.main-container-lite{
  width: 100%;
  display: flex;
  height: 20vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;}

.animate-show,
.animate-hide {
  -webkit-transition:all linear .65s;
  -moz-transition:all linear .65s;
  -ms-transition:all linear .65s;
  -o-transition:all linear .65s;
  transition:all linear .65s;
    z-index: 2;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
    z-index: 2;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
    z-index: 2;
  display: block !important;
}

.details
{
  overflow: scroll;
  width: 100%;
  height: 100vh;
  cursor: auto;
}

.event-icon{
  background-repeat:no-repeat!important;
  height: 40vh;
  width: 40vh;
  transition: all 1.3s ease-in-out 0s;
  background-position: center!important;
  background-size: contain!important;
    z-index: 2;
}
.event-icon:hover {
  transform: rotate(360deg);
  transition: all 1.3s ease-in-out 0s;
    z-index: 2;
}
.content-text
{
  padding: 0 10px;
  text-align: justify;
  font-size: 1.1rem;
}
.event-item-content-block{
  width: 100px;
}
.section-header
{
  font-family: paris;
  text-align: center;
  font-size: 4rem;
  word-wrap: break-word
}
.navbar-item
{
  padding: 0 10px;
  margin: 5px;
  color:black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-family: dafont;
}
.navbar-container{
  height: 100%; color: white; display: flex;justify-content: flex-start;padding: 0px 10px;
}

/*
.ny{
  background-color: #79b7ba;
}
.ny-text
{
  color: #79b7ba !important;
}
.ny-text-secondary
{
  color: #FFDE59 !important;
}
.ny-secondary
{
  background-color: #FFDE59 !important;
}*/

.ny{
  background-color: #eccbbd;
  cursor: pointer;
}
.ny-text
{
  color: #eccbbd !important;
}
.rsvp-button
{
  margin: auto;
  font-family: wedding;
  margin-bottom: 150px;
  display: flex !important;
}

.ny-text-secondary
{
  color: #da5623  !important;
}
.ny-secondary
{
  background-color: #E3B351 !important;
}

.mtl{
  background-color: #99a9a6;
}
.navbar-background
{
  background-color: whitesmoke;
}

.event-header
{
  z-index: 3;
  color: white;
  text-align: center;
  font-family: wedding;

}
.event-item
{
  padding: 2% 12%;
}
.event-item-header
{
  width: fit-content;
  padding: 10px;
  font-family: wedding;
  font-weight: bolder;
  border-radius: 15px;
  font-size: 1.5em;
}
.event-item-header-ny
{
  color: #FFDE59;
}
.ny-text-accent
{
  color: #E3B351 !important;
}
.rsvp{
  border-radius: 5px;
  border-color: darkgoldenrod;
  background-color: white;
  border: 10px solid darkgoldenrod;
  font-size: 50px;
  font-family: fantasy;
}

.mtl-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multi-event-container{
  display: flex;
  flex-direction: row;
}

.main-container-expanded
{
  width: 100% !important;
  height: 100vh!important;
}
.main-container-shrunk
{
  width: 0%!important;
  height: 0vh!important;
}

.splitter
{
  background: linear-gradient(to right, #79b7ba 50%, #eccbbd 50%); display: flex; align-items: center;
}
.petrie
{
  flex-grow: 3; background: url('../img/petrie-transparent.png') ;background-repeat: repeat-x;width: 100%;height: 15%;
}

@media screen and (min-height: 974px)
{
  .petrie
  {
    flex-grow: 3; background: url('../img/petrie-transparent.png') bottom;background-repeat: repeat-x;width: 100%;height: 15%;
  }
}


@media screen and (max-width: 974px) {


  .multi-event-container{
    display: flex;
    flex-direction: column;
  }
  .main-container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 1s, height 1s;
  }
  .ny.main-container
  {
    padding-top: 20px;
  }
  .ny.main-container
  {
    padding-bottom: 20px;
  }
  .main-container-solo
  {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: width 1s, height 1s;
  }
  .splitter
  {
    background: linear-gradient(to bottom, #79b7ba 50%, #eccbbd 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  .event-item
  {
    padding: 10% 5%;
  }
  .event-icon{
    background-repeat:no-repeat !important;
    height: 20vh;
    width: 20vh;
    z-index: 1;
    background-position: center!important;
    background-size: contain!important;
  }
}
