<!doctype html>
<html lang="en" ng-app='myApp'>
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <title>Emily and Elliot's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vendor/angularjs.js"></script>
    <script src="js/vendor/animate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="js/vendor/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="js/vendor/bootstrap-4.0.0/js/dist/util.js"></script>
    <script src="js/vendor/bootstrap-4.0.0/js/dist/scrollspy.js"></script>
    <script src="js/main.js"></script>
    <script src="js/rsvpCtrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
  </head>

  <body ng-controller="MainCtrl" style="display: flex;    flex-direction: column; height:100vh; width: 100%">
  <div ng-if="guest"  id="authenticatedContainer" style="width: 100%;height: 100vh">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-0" style="position: absolute;width: 100%;" ng-show="selectedEvent !== 'all'">
      <a style="background: url('img/back-tiny.png') center; height: 40px;width: 40px;   background-repeat: no-repeat;" ng-click="back()" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul style="width: 100%;
align-content: space-evenly;
justify-content: space-evenly;" class="navbar-nav nav mr-auto mt-2 mt-lg-0">
          <li  ng-repeat="item in tableOfContents[selectedEvent]" class="nav-item navbar-item fr-text-accent" > <a  class="nav-link fr-text-accent" href="#{{item}}-{{selectedEvent}}">{{item.toUpperCase()}}</a></li>
          <li class="nav-item navbar-item">
            <a id="rsvp"
              data-toggle="modal" data-target="#{{selectedEvent}}Form" style="font-family: wedding" class="nav-link fr-text-accent"  href="#">RSVP</a></li>
        </ul>
      </div>
    </nav>

    <div id="frAndNyContainer" class="multi-event-container" style="display: flex">
      <div  id="ny" ng-click="selectEvent('ny')"
            ng-show="invited('ny') &&  (selectedEvent == 'all' || selectedEvent == 'ny')"
            ng-class="{{guest.invites.length}} === 1 ? 'main-container-solo' : 'main-container'"
            class="main-container-show-hide ny" >
        <div ng-show="animate" style="display: flex;flex-direction: column;align-items: center;" class="animate-show animate-hide" ng-if="selectedEvent == 'all'">
          <h1 class="event-header">NEW YORK</h1>
          <h1 class="event-header">OCTOBER 8 2023</h1>
          <!-- <img src="img/ny-logo-transparent.svg"> -->
          <div ng-show="animate" class="event-icon" style="background:url('img/ny-logo-transparent.svg');"></div>
        </div>
        <div ng-show="!animate" data-spy="scroll" data-target="#navbar" data-offset="0" class="details" ng-if="selectedEvent === 'ny'">
          <div class="event-item" style="padding-top: 125px"  id="About-ny" >
            <event-item
              content="getContent('ny','ABOUT')"
              selected-event="'ny'"
              right="false"></event-item>
          </div>
          <div  class="event-item" id="Accommodation-ny" >
            <event-item
              content="getContent('ny','ACCOMMODATION')"
              selected-event="'ny'"
              right="true"></event-item>
          </div>
          <div class="event-item" id="Things to do-ny" >
            <event-item
              content="getContent('ny','THINGS TO DO')"
              selected-event="'ny'"
              right="false"></event-item>
          </div>
          <div ng-if="guest.vip" class="event-item"  id="Niagara-ny" >
            <event-item
              content="getContent('ny','NIAGARA')"
              selected-event="'ny'"
              right="true"></event-item>
          </div>
          <div class="event-item"  id="The Celebration-ny" >
            <event-item
              content="getContent('ny','THE CELEBRATION')"
              selected-event="'ny'"
              right="true"></event-item>
          </div>
          <button type="button" data-toggle="modal" data-target="#nyForm" class="rsvp-button btn btn-primary btn-lg ny-secondary">RSVP</button>

        </div>
      </div>
      <div id="fr"
           ng-click="selectEvent('fr')"
           ng-show="invited('fr') &&  (selectedEvent == 'all' || selectedEvent == 'fr')"
           ng-class="{{guest.invites.length}} === 1 ? 'main-container-solo' : 'main-container'"
           class = " main-container-show-hide fr" >
        <div id="simpleFr" style="display: flex;flex-direction: column;align-items: center;" ng-show="animate" class="animate-show animate-hide" ng-if="selectedEvent == 'all'">
          <h1 class="event-header">FRANCE</h1>
          <h1 class="event-header">JUNE 25 2024</h1>
          <div ng-show="animate" class="event-icon" style="background:url('img/fr-logo-transparent.svg');"></div>
        </div>
        <div id ="detailedFr" style="position: relative;" ng-show="!animate" data-spy="scroll" data-target="#navbar" data-offset="0" class="details" ng-if="selectedEvent === 'fr'">
          <div class="event-item" style="padding-top: 125px" id="About-fr" >
            <event-item
            content="getContent('fr','ABOUT')"
            selected-event="'fr'"
            right="false"></event-item>
          </div>
          <div class="event-item" id="Accommodation-fr" >
            <event-item
              content="getContent('fr','ACCOMMODATION')"
              selected-event="'fr'"
              right="true"></event-item>
          </div>
          <div class="event-item"  id="Things to do-fr" >
            <event-item
              content="getContent('fr','THINGS TO DO')"
              selected-event="'fr'"
              right="false"></event-item>
          </div>
          <div class="event-item"  id="The Celebration-fr" >
            <event-item
              content="getContent('fr','THE CELEBRATION')"
              selected-event="'fr'"
              right="true"></event-item>
          </div>
          <div class="event-item" id="Information-fr" >
            <event-item
              content="getContent('fr','INFORMATION')"
              selected-event="'fr'"
              right="false"></event-item>
          </div>
          <button type="button" data-toggle="modal" data-target="#frForm" class="rsvp-button btn btn-primary btn-lg fr-secondary">RSVP</button>
        </div>
      </div>

    </div>
    <div id="mtl" ng-click="selectEvent('mtl')"
         ng-show="invited('mtl') && (selectedEvent == 'all' || selectedEvent == 'mtl')"
         class="main-container-show-hide mtl"
         ng-class="selectedEvent == 'mtl' && {{guest.invites.length}} > 1 ? 'main-container' : 'main-container-lite'" >
      <div ng-show="animate" class="animate-show animate-hide mtl-container" ng-if="selectedEvent == 'all'">
        <h1 ng-show="animate" class="event-header" style="margin-top: 5px;">MTL</h1>
        <div ng-show="animate" style="background:url('img/mtl-logo-transparent.svg');background-repeat:no-repeat;  background-size: contain; width:325px;height: 325px "></div>
      </div>
      <div ng-show="!animate" class="details" ng-if="selectedEvent === 'mtl'">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor elit nec fringilla posuere. Pellentesque ullamcorper vestibulum sem id dignissim. Nunc sagittis lobortis rutrum. Vivamus sed lorem id felis porta tincidunt et quis metus. In hac habitasse platea dictumst. Aliquam luctus metus vel turpis fringilla euismod. Nam eu massa ac lectus facilisis dignissim vel eget sapien.

        Etiam elit lorem, tincidunt eget risus a, blandit semper lacus. Curabitur aliquam urna lectus, in feugiat orci aliquam eget. Praesent dapibus dui velit, nec pellentesque quam lacinia vitae. Nullam a felis id ex lacinia tincidunt ut a massa. Sed ut molestie orci, non accumsan turpis. Nunc eu ante eu metus sagittis porta. Sed id orci mi. Donec ornare massa id metus malesuada, ut dapibus mauris dapibus. Curabitur condimentum nulla ut lobortis lacinia. In id lacus quis neque suscipit volutpat id id nunc. Nullam dignissim feugiat enim. Nulla laoreet dignissim eros.

        Nunc sagittis sapien non metus consequat mollis. Nullam enim nisl, auctor sit amet quam ut, interdum fermentum velit. Nullam a massa pulvinar, dapibus augue nec, vehicula leo. Donec ac erat risus. Aliquam consectetur blandit dolor eget finibus. Curabitur in suscipit nulla, a semper velit. In vulputate quam quis commodo egestas. Nunc elit velit, bibendum non diam ut, ultrices auctor nulla. Proin dictum felis a tincidunt varius.

        Mauris rhoncus commodo lorem, et tincidunt orci ultrices at. Vestibulum vel maximus urna. Fusce tristique risus nec tortor vulputate, id rutrum lectus lacinia. Integer iaculis enim in libero vulputate, vitae viverra magna lobortis. Donec accumsan maximus est sed ornare. Quisque id sagittis enim. In scelerisque ligula sit amet interdum convallis. Suspendisse sem nulla, maximus at tellus in, finibus pharetra turpis. Pellentesque convallis faucibus ornare. Nunc eros lacus, tincidunt a pellentesque non, maximus a leo. In commodo consequat tellus, et congue purus fermentum in. Donec sem leo, consectetur eu mauris vitae, ornare auctor justo. Integer suscipit lacus et orci cursus, vel vestibulum mauris volutpat. Cras vel consequat velit. Fusce erat orci, malesuada id feugiat id, lacinia sed est. Integer a efficitur nisl, at semper nulla.

        Sed mollis est eget efficitur tempus. Pellentesque quis sapien dignissim, laoreet felis hendrerit, malesuada arcu. Etiam at aliquet justo. Nunc lacinia sem sit amet odio lacinia, eu sagittis nunc tempus. Aenean maximus tellus sed neque pulvinar tincidunt. Quisque imperdiet suscipit egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ac rhoncus lorem. Pellentesque non tortor blandit, posuere lectus sed, consectetur dui. Nunc fermentum tincidunt diam ac tempor. Phasellus venenatis mollis porta. Curabitur sed malesuada elit. Integer eget finibus ante.

        Pellentesque eget nulla elementum, pulvinar lectus non, semper est. Morbi eleifend lacus vel orci bibendum, nec iaculis purus cursus. Pellentesque commodo mauris et massa blandit, eu accumsan augue suscipit. Donec venenatis lectus non turpis consequat, eu dictum sapien consequat. Aenean at tincidunt ipsum. Proin pretium nunc metus, ornare ullamcorper mi vulputate sollicitudin. Pellentesque viverra ante ut sollicitudin laoreet. Proin metus eros, tincidunt a porta sed, mattis sed ex. Nulla facilisi. Proin metus justo, posuere eget lorem vitae, tincidunt eleifend augue. In malesuada mi sit amet est vehicula consectetur. Vivamus pharetra augue vitae leo interdum tempus. Fusce pretium enim in quam interdum luctus. Quisque eget elementum purus, ultricies viverra lectus. Curabitur vitae ex non augue fringilla accumsan et nec ipsum. In sed arcu bibendum, euismod arcu et, elementum nunc.

        Nunc felis tortor, molestie sed nisl at, ultricies mattis lorem. Suspendisse efficitur risus turpis, eu suscipit nibh commodo sed. Sed convallis accumsan pellentesque. Donec ornare vulputate lacinia. Nulla in posuere risus. Aliquam convallis hendrerit justo, ut mollis quam euismod quis. Duis euismod rutrum odio, faucibus facilisis turpis tristique non. Nullam ut eleifend urna, in rhoncus metus.

        Sed et dolor ac nibh interdum mollis. Aliquam sed ornare ex. Maecenas dapibus odio et orci sagittis, nec ullamcorper urna porttitor. Cras non augue ultrices, auctor diam mollis, facilisis tortor. Duis lobortis vitae mi vel mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque eget commodo ipsum, non vestibulum metus. Pellentesque ut gravida diam. Aliquam quis lectus dui. Cras ornare enim a ullamcorper convallis. Mauris sagittis accumsan vulputate. Donec sed neque ornare nunc vehicula hendrerit. Aenean quis orci accumsan elit dictum eleifend eget non lacus.

        Fusce interdum felis dolor, in cursus dui ultrices vitae. Praesent ut posuere nulla. Praesent hendrerit tellus a turpis elementum pulvinar. Etiam et semper nulla. Phasellus sed bibendum elit. Mauris viverra euismod ipsum quis aliquam. Suspendisse porta odio sed erat bibendum, sit amet porttitor lacus faucibus. Nulla eget ante mollis, molestie tortor vitae, laoreet dui. Aliquam dapibus diam sapien, a maximus augue ultricies non. In fringilla orci vel sem congue, at cursus massa eleifend. Integer ut risus lacus. Vivamus ac quam ut justo accumsan eleifend.

        Sed posuere mauris quis lacus aliquet consectetur. Etiam scelerisque neque non auctor condimentum. Nunc non lobortis ipsum. Curabitur fringilla enim a dapibus hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et velit lectus. Vestibulum eget neque non odio tristique dictum. Sed maximus lacus arcu, id viverra libero bibendum pellentesque. Integer vitae ultrices ligula, non mattis augue. Sed dapibus suscipit arcu sed volutpat. Nunc faucibus mauris id nibh feugiat, ac mollis sapien ornare. Quisque hendrerit ac orci sit amet porta. Nullam a ullamcorper ex.

        Sed at purus in velit euismod rhoncus sed id urna. Aliquam ut dui ultrices, vestibulum mauris ut, malesuada sapien. Donec eu elementum arcu. Nulla et orci sed leo suscipit finibus at et purus. Mauris interdum ornare ipsum. Ut finibus ex eu ipsum sodales, at placerat purus mollis. Vestibulum a augue dui. Pellentesque fringilla augue congue dui mollis, a tempor sapien pulvinar. Donec vitae libero commodo, vulputate lorem eu, dapibus nisi. Ut viverra blandit ipsum et bibendum. In hac habitasse platea dictumst. Duis a vulputate sem. In hac habitasse platea dictumst. Integer at tincidunt quam. Donec mollis tellus quis ipsum finibus suscipit.

        Suspendisse potenti. Vivamus venenatis nunc condimentum ex malesuada, in sollicitudin nisi sagittis. Duis tincidunt accumsan felis vel euismod. Etiam et erat sed tortor hendrerit euismod id efficitur orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam nunc sapien, tempor non tincidunt et, venenatis et lorem. Cras blandit mauris faucibus lacus faucibus auctor. Suspendisse pellentesque dapibus eros id efficitur. Ut pharetra massa sed quam malesuada ullamcorper. Aliquam vulputate, dui a feugiat sagittis, enim risus efficitur ipsum, id dapibus urna nunc ac ligula. Nunc laoreet felis quis arcu fringilla, sit amet dapibus justo semper. Cras ullamcorper convallis nisi at ornare.

        Praesent volutpat, ex lacinia consequat bibendum, massa magna aliquet est, dignissim mattis augue augue in metus. Aliquam urna diam, feugiat ut porta nec, commodo ut massa. In ultrices metus a massa cursus consectetur. Sed ut velit arcu. Etiam orci risus, tincidunt sed ullamcorper vel, mollis lobortis mauris. Nulla in risus turpis. Donec quis consectetur metus, at elementum lectus.

        Sed fermentum magna a placerat bibendum. Suspendisse fermentum, ex sed commodo tempus, nisi ex maximus nunc, ac finibus lacus augue eu eros. Ut luctus dapibus felis sed scelerisque. Mauris efficitur ex eu laoreet auctor. Praesent ante mauris, rhoncus ac varius in, venenatis nec justo. Nulla et leo ac dolor varius lacinia. Aliquam vitae placerat eros. Duis quis vestibulum libero. Etiam commodo placerat molestie. Phasellus et lobortis dui, at accumsan quam. Integer ac ligula auctor, condimentum mauris vitae, ultrices ex. Fusce tincidunt lacus et odio dignissim, at suscipit sapien porta. Nulla eu commodo dui. Etiam at nibh sit amet dolor ullamcorper tempor.

        Curabitur sit amet tortor at magna mattis facilisis. Aenean ut massa semper, varius diam eu, finibus lorem. Praesent tempor mauris ex, vulputate elementum leo porttitor imperdiet. Praesent luctus efficitur dui accumsan viverra. Ut eu leo ante. Etiam dignissim enim quis arcu scelerisque sodales. Donec quis tortor vel velit semper molestie ac nec elit. Proin eget elit vitae risus consequat hendrerit non non nisi.

        Aenean sollicitudin ante diam, non suscipit tellus vehicula sit amet. Curabitur vestibulum ultricies nibh eu molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut quis laoreet diam, eu finibus lectus. Vivamus vitae nulla ac odio consectetur hendrerit. Ut bibendum, odio eget posuere laoreet, metus mauris sodales enim, ullamcorper malesuada augue arcu eu elit. In scelerisque aliquet leo eu maximus. Phasellus lorem turpis, egestas a orci sed, tempus lobortis dolor. Nullam euismod tempor congue. Quisque id mauris diam. Sed ligula velit, facilisis vel purus ut, dignissim efficitur nunc. Mauris a neque vehicula, condimentum sem eget, semper urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

        Donec vestibulum feugiat dui, id mattis sapien interdum vitae. Etiam a ligula quis eros pretium interdum. Nullam at auctor lorem, fermentum lobortis lectus. Phasellus pretium dolor sit amet risus pretium feugiat. Mauris tristique fringilla malesuada. Donec et gravida magna, quis molestie velit. Donec tempus nisi pretium felis ultrices scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean at volutpat libero, ut mollis ex. Quisque eget odio vestibulum, pharetra nulla a, molestie turpis.

        Aenean nisl nisl, rhoncus egestas ipsum sed, egestas ultricies felis. Nunc placerat iaculis purus, vel imperdiet dolor dignissim commodo. Maecenas aliquam purus dignissim feugiat ornare. Mauris at imperdiet lectus. Proin nec lacinia purus, sit amet blandit enim. Praesent a rutrum diam, nec aliquam quam. Ut finibus, tellus at vehicula semper, metus est commodo nisi, at tincidunt erat arcu a eros. Sed a arcu libero. Nunc aliquet orci id urna fermentum venenatis et bibendum risus. Etiam vel pretium nulla, eu lacinia lectus.

        Integer justo orci, tempor at metus et, tempor pharetra augue. In a lacus vestibulum, tempus dui sit amet, aliquam enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam fermentum, leo et accumsan sollicitudin, nisi ex ullamcorper arcu, non dapibus odio lacus eu nulla. Phasellus vel est lacus. Aliquam vel eleifend mauris. Sed ultricies, purus eu congue blandit, tellus elit egestas lorem, nec fringilla est erat sed felis. In hac habitasse platea dictumst.

        Phasellus eget elit aliquet, tincidunt massa ac, mollis nisi. Nullam quis ante elit. Sed nulla velit, vestibulum eget elit quis, aliquet gravida felis. Ut ultrices diam ac quam posuere auctor. Vestibulum a lectus eget libero tempor bibendum sit amet in libero. Cras faucibus efficitur erat. Duis a nisl nulla.
      </div>
    </div>
  </div>
  <div ng-if="!guest" id="unauthenticatedContainer" style="width: 100%;height: 100vh;display: flex; background-color: black;flex-direction: column; justify-content: center;align-items: center;">
    <div style="color:white; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1">
      <h1 style="font-size: 3em; font-family: modernprestige">e & e </h1>
    </div>
    <div style="flex-grow: 1;display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <input class="form-control" ng-model="password.text" style="text-align: center; font-family: wedding" placeholder="PASSWORD">
      <button ng-click="verify()" type="button" style="margin-top: 15px; font-family: wedding" class="btn btn-outline-light">SUBMIT</button>
      <p ng-if="invalid" style="color:red; font-family: wedding">HMM, THAT DIDN'T WORK</p>
    </div>
    <div class="petrie" style="">
    </div>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="nyForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelny">Welcome {{guest.name}}! RSVP to Buffalo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfTJNadERMMOs-OJpBPiUG6jcMzmWBnRUG_sRJVmTJI3EFyCA/viewform?embedded=true" width="100%" height="850px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="frForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelfr">Welcome {{guest.name}}! RSVP to France</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLdYH5PZk2F0yIspXJfMC6ehlI7S7hHioC2RWevWn7RmWU0w/viewform?embedded=true" width="100%" height="850px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>

<script type="text/ng-template" id="eventItem.html">
  <div>
    <h1 ng-if="selectedEvent === 'ny'"  class="section-header ny-text-secondary">{{content.section}}</h1>
    <h1 ng-if="selectedEvent === 'fr'"  class="section-header fr-text-accent">{{content.section}}</h1>
    <div ng-repeat="item in content.content" style="display: flex; flex-direction: column; padding: 20px 0"
         ng-style="{{right}} && {'align-items':'end'}">
      <h4 ng-if="selectedEvent === 'ny'" class="event-item-header event-item-header-ny">{{item.title}}</h4>
      <h4 ng-if="selectedEvent === 'fr'" class="event-item-header fr-text-accent event-item-header-fr">{{item.title}}</h4>
      <div style="display: flex;flex-direction: row">
        <div ng-if="!right">
          <img src="{{item.icon}}">
        </div>
        <p ng-if="selectedEvent === 'ny'" class="content-text" style="color: white;">{{item.text}} </p>
        <p ng-if="selectedEvent === 'fr'" class="content-text fr-text-secondary" >{{item.text}} </p>
        <div ng-if="right">
          <img src="{{item.icon}}">
        </div>
      </div>
    </div>
  </div>
</script>
